@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
body {
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: white;
  background-color: #0a0a0a;
}

.container {
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 662px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.app {
  background: url("line-background.537a8943.svg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.error-modal-view{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 1000;
  padding-top: 20vh;
  overflow: auto;
}
.modal {
  position: relative;
  top: 50px;
  left: 0;
  right: 0;
  max-width: 25%;
  max-height: 40vh;
  background: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
@media (max-width:992px){
  .modal{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.modal svg {
  float: right;
}

@media (max-width: 758px) {
  .modal {
    max-width: 90%;
  }
}

.logo {
  padding-top: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

.content {
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}

@media (max-width: 1513px) {
  .content {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (max-width: 1312px) {
  .content {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 1112px) {
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 912px) {
  .content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 812px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.content .header {
  font-size: 3em;
}

@media (max-width: 712px) {
  .content .header {
    font-size: 2.5em;
  }
}

@media (max-width: 522px) {
  .content .header {
    font-size: 2.0em;
  }
}

.content .line svg {
  position: absolute;
  padding-top: 50px;
  margin-left: -170px;
}

@media (max-width: 682px) {
  .content .line svg {
    padding-top: 40px;
    margin-left: -146px;
  }
}

.content .text-summary {
  font-size: 1.4em;
}

@media (max-width: 712px) {
  .content .text-summary {
    font-size: 1.2em;
  }
}

@media (max-width: 522px) {
  .content .text-summary {
    padding-top: 20px;
  }
}

.content .join {
  padding-top: 20px;
}

.content .join form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 555px) {
  .content .join form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content .join form .input-container {
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  height: 5vh;
  background: white;
}

@media (max-width: 555px) {
  .content .join form .input-container {
    width: 94%;
  }
}

.content .join form .input-container span {
  position: absolute;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: white;
  background-color: #FFAD0D;
  border-radius: 9px;
  padding: 0 11px;
  height: 19px;
  margin-top: -20px;
  margin-left: -0px;
}

.content .join form .input-container input {
  font-size: 16px;
  width: 100%;
  border: none;
  height: 100%;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
}

.content .join form button {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 9px;
  border: none;
  padding: 0 20px;
  background-color: #FFAD0D;
  min-width: 30%;
  font-size: 15px;
}

@media (max-width: 555px) {
  .content .join form button {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
  }
}

.footer .container .large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1235px) {
  .footer .container .large {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .container .large .copyright {
  padding-top: 17%;
}

@media (max-width: 1235px) {
  .footer .container .large .copyright {
    display: none;
  }
}

.footer .container .large .phone .hand .pointing {
  background: url("hand.png") no-repeat;
  background-size: contain;
  position: relative;
  display: block;
  width: 55px;
  height: 175px;
  margin: auto;
  bottom: -105px;
  opacity: 1;
}

@media (max-width: 420px) {
  .footer .container .large .phone .hand .pointing {
    bottom: -70px;
  }
}

.footer .container .large .phone .phone-img {
  display: block;
  z-index: 10;
  position: relative;
  max-width: 100%;
}

.footer .container .large .social-icons {
  padding-top: 17%;
  margin-right: 75px;
}

.footer .container .large .social-icons img {
  cursor: pointer;
  background: #181818;
  padding: 10px 10px;
  width: 20px;
  border-radius: 10px;
  margin-left: 25px;
}

.footer .container .large .social-icons img:hover {
  background: #FFAD0D;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

@media (max-width: 1235px) {
  .footer .container .large .social-icons {
    display: none;
  }
}

.footer .responsive {
  background: #141414;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.footer .responsive .copyright {
  padding-top: 10px;
}

.footer .responsive .social-icons img {
  cursor: pointer;
  background: #181818;
  padding: 10px 10px;
  width: 20px;
  border-radius: 10px;
  margin-left: 25px;
}

.footer .responsive .social-icons img:hover {
  background: #FFAD0D;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

@media (max-width: 555px) {
  .footer .responsive .social-icons {
    padding-top: 20px;
  }
}

@media (max-width: 1235px) {
  .footer .responsive {
    display: block;
  }
  .footer .responsive .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1235px) and (max-width: 555px) {
  .footer .responsive .container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */